flows.json
[
    {
        "id": "e42e5f1fc0303f40",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "b863e246b1c29c2d",
        "type": "tab",
        "label": "Zip Code Searcher",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dbb0b935b455aab5",
        "type": "ui_tab",
        "name": "Página inicial",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6feaaea3cc9fdaa1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0ac51c4096791956",
        "type": "ui_group",
        "name": "Lista de corretoras",
        "tab": "dbb0b935b455aab5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "default"
    },
    {
        "id": "824a6e09e730d233",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "87adf18326a5face",
        "type": "ui_group",
        "name": "Default",
        "tab": "dbb0b935b455aab5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3b02634d743323dd",
        "type": "ui_group",
        "name": "Zip Code Search",
        "tab": "869ed3de7ae40caf",
        "order": 3,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "869ed3de7ae40caf",
        "type": "ui_tab",
        "name": "Página Inicial",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "91474bfe4bb2c1a1",
        "type": "http in",
        "z": "e42e5f1fc0303f40",
        "name": "",
        "url": "/brokers",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "540dfbbe4188317f"
            ]
        ]
    },
    {
        "id": "540dfbbe4188317f",
        "type": "function",
        "z": "e42e5f1fc0303f40",
        "name": "function 1",
        "func": "let brokers = [\n    [\n        {\n            \"cnpj\": \"76621457000185\",\n            \"nome_comercial\": \"4UM INVESTIMENTOS\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"33817677000176\",\n            \"nome_comercial\": \"ABC BRASIL DTVM\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"10664027000132\",\n            \"nome_comercial\": \"ABERTURA CCVM LTDA\",\n            \"municipio\": \"RECIFE\"\n        },\n        {\n            \"cnpj\": \"44527444000155\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"33819590000138\",\n            \"nome_comercial\": \"ACAO SA CVC\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"92856905000186\",\n            \"nome_comercial\": \"ACTION CORRETORA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"24159923000159\",\n            \"nome_comercial\": \"ACTION DISTRIBUIDORA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"43050917000103\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"FLORIANÓPOLIS\"\n        },\n        {\n            \"cnpj\": \"09259391000138\",\n            \"nome_comercial\": \"ADEMAR WANDERLE\",\n            \"municipio\": \"JOÃO PESSOA\"\n        },\n        {\n            \"cnpj\": \"35937283000187\",\n            \"nome_comercial\": \"ADOLPHO OLIVEIRA & ASSOCIADOS CVC S/A\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"00271457000130\",\n            \"nome_comercial\": \"AGENDA ESTUDOS E PROJETOS ECONÔMICOS LTDA.\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"26027326000104\",\n            \"nome_comercial\": \"AGM\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"74014747000135\",\n            \"nome_comercial\": \"AGORA-SENIOR CTVM S.A .\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"00397331000107\",\n            \"nome_comercial\": \"AGROBANCO\",\n            \"municipio\": \"GOIÂNIA\"\n        },\n        {\n            \"cnpj\": \"49945272000153\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"SANTOS\"\n        },\n        {\n            \"cnpj\": \"05452073000138\",\n            \"nome_comercial\": \"ALBATROSS CCV S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"62178421000164\",\n            \"nome_comercial\": \"ALFA CORRETORA DE CAMBIO E VALORES MOBILIARIOS S.A\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"03882245000188\",\n            \"nome_comercial\": \"ALPES CCTVM LTDA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"99988065000154\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"85010361000171\",\n            \"nome_comercial\": \"ALVES FERREIRA\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"75724195000111\",\n            \"nome_comercial\": \"ALVES MEYER\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"17312661000155\",\n            \"nome_comercial\": \"AMARIL CTV\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"92666494000166\",\n            \"nome_comercial\": \"ANTONIO DELAPIEVE\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"36210052000130\",\n            \"nome_comercial\": \"APLICAP\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"81742017000116\",\n            \"nome_comercial\": \"ARAUCARIA\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"33829086000119\",\n            \"nome_comercial\": \"ARGOS\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"33756370000102\",\n            \"nome_comercial\": \"ARIJU\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"03816975000180\",\n            \"nome_comercial\": \"ARKHE CTVM LTDA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"03449895000134\",\n            \"nome_comercial\": \"ARROW DTVM S/A\",\n            \"municipio\": \"BELÉM\"\n        },\n        {\n            \"cnpj\": \"33775974000104\",\n            \"nome_comercial\": \"ATIVA S/A CTCV\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"40425498000159\",\n            \"nome_comercial\": \"ATLANTICA CTVM LTDA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"62122718000108\",\n            \"nome_comercial\": \"ATRIUM S.A. CVM\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"04967022000186\",\n            \"nome_comercial\": \"ATTUAL\",\n            \"municipio\": \"MANAUS\"\n        },\n        {\n            \"cnpj\": \"76645704000183\",\n            \"nome_comercial\": \"AUREUM\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"60991023000137\",\n            \"nome_comercial\": \"AVAL\",\n            \"municipio\": \"RECIFE\"\n        },\n        {\n            \"cnpj\": \"61384004000105\",\n            \"nome_comercial\": \"AVENUE SECURITIES DTVM\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"15232648000160\",\n            \"nome_comercial\": \"BAHIA LUCRO\",\n            \"municipio\": \"SALVADOR\"\n        },\n        {\n            \"cnpj\": \"61688131000106\",\n            \"nome_comercial\": \"BALUARTE\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"78336633000162\",\n            \"nome_comercial\": \"ARAUCARIA\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"40192734000134\",\n            \"nome_comercial\": \"ATLANTIS CCTVM\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"28157204000150\",\n            \"nome_comercial\": \"SANTOS NEVES\",\n            \"municipio\": \"VITÓRIA\"\n        },\n        {\n            \"cnpj\": \"10995587000170\",\n            \"nome_comercial\": \"BR MERCANTIL\",\n            \"municipio\": \"RECIFE\"\n        },\n        {\n            \"cnpj\": \"61819652000147\",\n            \"nome_comercial\": \"BANCOCIDADE\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61754644000160\",\n            \"nome_comercial\": \"BANDEIRANTES\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"15221633000105\",\n            \"nome_comercial\": \"BANEB\",\n            \"municipio\": \"SALVADOR\"\n        },\n        {\n            \"cnpj\": \"76550714000135\",\n            \"nome_comercial\": \"BANESTADO CVM S/A\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"33753740000158\",\n            \"nome_comercial\": \"BANIF BANCO DE INVESTIMENTO (BRASIL) S/A\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"35780063000192\",\n            \"nome_comercial\": \"BANK OF AMERICA S.A. CCVM\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"09793746000174\",\n            \"nome_comercial\": \"BANORTE CVM SA\",\n            \"municipio\": \"RECIFE\"\n        },\n        {\n            \"cnpj\": \"93026847000126\",\n            \"nome_comercial\": \"BANRISUL S.A. CVMC\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"11031473000172\",\n            \"nome_comercial\": \"BANTRIAL\",\n            \"municipio\": \"RECIFE\"\n        },\n        {\n            \"cnpj\": \"11634773000146\",\n            \"nome_comercial\": \"BARCLAYS CORRETORA DE TÍTULOS E VALORES MOBILIÁRIOS S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"83044057000110\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"CANOAS\"\n        },\n        {\n            \"cnpj\": \"61923504000178\",\n            \"nome_comercial\": \"BBV CCVM LTDA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61859724000180\",\n            \"nome_comercial\": \"CLSA - BCN CTVM S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61732954000183\",\n            \"nome_comercial\": \"SCHAHIN CCVM S/A\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"15210834000107\",\n            \"nome_comercial\": \"BEHRMANN\",\n            \"municipio\": \"SALVADOR\"\n        },\n        {\n            \"cnpj\": \"04798823000165\",\n            \"nome_comercial\": \"BELAUTO\",\n            \"municipio\": \"BELÉM\"\n        },\n        {\n            \"cnpj\": \"83043372000122\",\n            \"nome_comercial\": \"BESC - CORRETORA\",\n            \"municipio\": \"FLORIANÓPOLIS\"\n        },\n        {\n            \"cnpj\": \"33837568000110\",\n            \"nome_comercial\": \"BETA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"33868878000100\",\n            \"nome_comercial\": \"BITTENCOURT\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"07700131000120\",\n            \"nome_comercial\": \"BIC\",\n            \"municipio\": \"FORTALEZA\"\n        },\n        {\n            \"cnpj\": \"61829644000181\",\n            \"nome_comercial\": \"BMD\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"17304692000164\",\n            \"nome_comercial\": \"BMG CORRETORA\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"08030215000167\",\n            \"nome_comercial\": \"OAK\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"15213150000150\",\n            \"nome_comercial\": \"BOCOM BBM CORRETORA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"35929132000187\",\n            \"nome_comercial\": \"BOREAL SA CORRETORA VALORES CAMBIO\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"61855045000132\",\n            \"nome_comercial\": \"BRADESCO S/A CTVM\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"58229246000110\",\n            \"nome_comercial\": \"CCF BRASIL\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"53362554000103\",\n            \"nome_comercial\": \"BRASVAL\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"12865507000197\",\n            \"nome_comercial\": \"--\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"69018810000171\",\n            \"nome_comercial\": \"SENIOR ASSESSORIA E CONSULTORIA S.A.\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"76522994000178\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"60889144000172\",\n            \"nome_comercial\": \"BRASCAN S.A. CORRETORA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"43815158000122\",\n            \"nome_comercial\": \"SISTEMA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"63566715000126\",\n            \"nome_comercial\": \"BUSINESS\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"86726452000170\",\n            \"nome_comercial\": \"BVA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"17311705000122\",\n            \"nome_comercial\": \"BVL\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"32345784000186\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"35835933000183\",\n            \"nome_comercial\": \"CAMBIAL GESTÃO PATRIMONIAL S/A\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"10995983000105\",\n            \"nome_comercial\": \"CAMINHA FRANCO\",\n            \"municipio\": \"RECIFE\"\n        },\n        {\n            \"cnpj\": \"17319971000100\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"33767039000198\",\n            \"nome_comercial\": \"CARAVELLO S.A. DISTRIBUIDORA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"15222623000186\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"SALVADOR\"\n        },\n        {\n            \"cnpj\": \"15230501000131\",\n            \"nome_comercial\": \"CATEDRAL CCTM LTDA\",\n            \"municipio\": \"SALVADOR\"\n        },\n        {\n            \"cnpj\": \"29710738000124\",\n            \"nome_comercial\": \"CELTON\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"01235298000181\",\n            \"nome_comercial\": \"CETRO\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"07554076000108\",\n            \"nome_comercial\": \"BANIF PRIMUS CORRETORA DE TITULOS E VALORES MOBILIARIOS E CAMBIO S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"17318940000126\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"61870200000190\",\n            \"nome_comercial\": \"INTRA SA CCV\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"33709114000164\",\n            \"nome_comercial\": \"CITIBANK\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"35778562000145\",\n            \"nome_comercial\": \"CITY CCVM LTDA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"15107963000166\",\n            \"nome_comercial\": \"CLEAR CORRETORA DE TÍTULOS E VALORES MOBILIÁRIOS LTDA.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"58225426000123\",\n            \"nome_comercial\": \"CLICKTRADE CCTVM S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"02685483000130\",\n            \"nome_comercial\": \"CM CAPITAL MARKETS CCTVM LTDA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"53263331000180\",\n            \"nome_comercial\": \"COBANSA COMPANHIA HIPOTECARIA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"09512542000118\",\n            \"nome_comercial\": \"CODEPE - CORRETORA\",\n            \"municipio\": \"BARUERI\"\n        },\n        {\n            \"cnpj\": \"02947068000108\",\n            \"nome_comercial\": \"COFIBENS CCTVM SA\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"00336036000140\",\n            \"nome_comercial\": \"COINVALORES\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"00120177000121\",\n            \"nome_comercial\": \"SHECK - CORRETORA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"36178887000150\",\n            \"nome_comercial\": \"PROSPER\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"54445200000187\",\n            \"nome_comercial\": \"COMERCIAL ASSET MANAGEMENT ADMINISTRAÇÃO DE RECURSOS S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"24523649000155\",\n            \"nome_comercial\": \"COMEX\",\n            \"municipio\": \"NATAL\"\n        },\n        {\n            \"cnpj\": \"40166985000144\",\n            \"nome_comercial\": \"COMPACTA\",\n            \"municipio\": \"RECIFE\"\n        },\n        {\n            \"cnpj\": \"61784278000191\",\n            \"nome_comercial\": \"COMPANHIA DE CREDITO FINANCIAMENTO E INVESTIMENTO RCI BRAISL\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"33740465000138\",\n            \"nome_comercial\": \"PEBB\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"17434432000103\",\n            \"nome_comercial\": \"CONSULTRADE CCTVM LTDA\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"30277073000196\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"61902730000172\",\n            \"nome_comercial\": \"PATENTE\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"80202872000171\",\n            \"nome_comercial\": \"CORREPARTI CCV LTDA\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"80202872000171\",\n            \"nome_comercial\": \"CORREPARTI CCV LTDA\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"33490657000133\",\n            \"nome_comercial\": \"PAULO WILLEMSENS\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"04623781000121\",\n            \"nome_comercial\": \"CORRETORA AMAZONENSE CVM LTDA\",\n            \"municipio\": \"MANAUS\"\n        },\n        {\n            \"cnpj\": \"06940282000193\",\n            \"nome_comercial\": \"B M C\",\n            \"municipio\": \"FORTALEZA\"\n        },\n        {\n            \"cnpj\": \"36348324000162\",\n            \"nome_comercial\": \"CESAR NEVES - COR\",\n            \"municipio\": \"VITÓRIA\"\n        },\n        {\n            \"cnpj\": \"92858380000118\",\n            \"nome_comercial\": \"CORRETORA GERAL DE VALORES E CAMBIO LTDA\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"33815234000146\",\n            \"nome_comercial\": \"CORRETORA NACIONAL DE FUNDOS PUBLICOS LTDA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"17312786000185\",\n            \"nome_comercial\": \"--\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"33778044000104\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"72182306000117\",\n            \"nome_comercial\": \"CREDICORP CORRETORA DE CAMBIO LTDA.\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"17335514000109\",\n            \"nome_comercial\": \"CREDIREAL\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"42584318000107\",\n            \"nome_comercial\": \"--\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61809182000130\",\n            \"nome_comercial\": \"CREDIT SUISSE HEDGING-GRIFFO CORRETORA DE VALORES S.A\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"04169504000190\",\n            \"nome_comercial\": \"CRUZEIRO DO SUL S.A. CV\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"76631522000153\",\n            \"nome_comercial\": \"DATABANK CCVM LTDA\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"49241570000162\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"33806647000164\",\n            \"nome_comercial\": \"DC - CORRETORA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"77162881000171\",\n            \"nome_comercial\": \"DEBONI\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"02184143000126\",\n            \"nome_comercial\": \"DEUTSCHE BANK C. V S/A\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61795290000100\",\n            \"nome_comercial\": \"DIAS DE SOUZA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61795290000100\",\n            \"nome_comercial\": \"DIAS DE SOUZA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"24276263000196\",\n            \"nome_comercial\": \"DIBENS\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"52937216000181\",\n            \"nome_comercial\": \"DIDIER-LEVY CORRETORA DE CÂMBIO LTDA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"15221625000150\",\n            \"nome_comercial\": \"DINIZ VIDIGAL\",\n            \"municipio\": \"SALVADOR\"\n        },\n        {\n            \"cnpj\": \"76641497000199\",\n            \"nome_comercial\": \"DOURADA\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"35924950000197\",\n            \"nome_comercial\": \"DRESDNER BANK CCTVM\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"35768001000165\",\n            \"nome_comercial\": \"DUARTE ROSA SA CCV\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"10987659000137\",\n            \"nome_comercial\": \"DUBEUX\",\n            \"municipio\": \"RECIFE\"\n        },\n        {\n            \"cnpj\": \"12242160000126\",\n            \"nome_comercial\": \"EBANO CCV LTDA.\",\n            \"municipio\": \"FORTALEZA\"\n        },\n        {\n            \"cnpj\": \"93000826000131\",\n            \"nome_comercial\": \"EGIDE\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"28048783000100\",\n            \"nome_comercial\": \"ELITE\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"20833950000104\",\n            \"nome_comercial\": \"EMBLEMA\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"33834177000142\",\n            \"nome_comercial\": \"EMBRACOR S/A CCVM\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"47965438000178\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"15746738000170\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"BELÉM\"\n        },\n        {\n            \"cnpj\": \"33739715000110\",\n            \"nome_comercial\": \"EQUIPE S/A CORRETORA DE VELORES\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"33832015000175\",\n            \"nome_comercial\": \"EQUITY CP CCV SA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"58225491000159\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"SANTOS\"\n        },\n        {\n            \"cnpj\": \"92875673000103\",\n            \"nome_comercial\": \"ESCOTAL\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"61736120000146\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"17305319000128\",\n            \"nome_comercial\": \"ESCRITÓRIO RUY LAGE SOCIEDADE CT LTDA\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"74073974000131\",\n            \"nome_comercial\": \"ESTRATEGIA INVESTIMENTOS S/A CVC\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"34190991000134\",\n            \"nome_comercial\": \"EUROINVEST\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"39468954000169\",\n            \"nome_comercial\": \"EXATA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"73388126000159\",\n            \"nome_comercial\": \"FACTORIAL\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"44974004000146\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"SÃO BERNARDO DO CAMPO\"\n        },\n        {\n            \"cnpj\": \"32648370000126\",\n            \"nome_comercial\": \"FAIR\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"03034469000130\",\n            \"nome_comercial\": \"FARSOJA\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"35759026000100\",\n            \"nome_comercial\": \"FATOR - CORRETORA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"07573181000194\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"FORTALEZA\"\n        },\n        {\n            \"cnpj\": \"35594001000196\",\n            \"nome_comercial\": \"FINAMBRAS\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"62125869000110\",\n            \"nome_comercial\": \"FINASA CCVM S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"03317692000194\",\n            \"nome_comercial\": \"FINAXIS CTVM S/A\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"76613512000195\",\n            \"nome_comercial\": \"FININVEST\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"04644175000192\",\n            \"nome_comercial\": \"FLOAT\",\n            \"municipio\": \"MANAUS\"\n        },\n        {\n            \"cnpj\": \"34562942000185\",\n            \"nome_comercial\": \"FLUXO CORRETORA DE CÂMBIO S/A\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"73585721000184\",\n            \"nome_comercial\": \"FONTE CINDAM SA CCV\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"73004749000180\",\n            \"nome_comercial\": \"IPANEMA S/A CORRETORA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"76624337000131\",\n            \"nome_comercial\": \"FORTUNA\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"63062749000183\",\n            \"nome_comercial\": \"FATOR-DORIA ATHERINO\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"55547061000165\",\n            \"nome_comercial\": \"GAVE\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"20230272000195\",\n            \"nome_comercial\": \"GERALDO CORREA\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"05816451000115\",\n            \"nome_comercial\": \"GENIAL INSTITUCIONAL\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"27652684000162\",\n            \"nome_comercial\": \"GENIAL INVESTIMENTOS\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"00111777000123\",\n            \"nome_comercial\": \"GERACAO CV LTDA\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"92575224000140\",\n            \"nome_comercial\": \"GIROS\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"09605581000160\",\n            \"nome_comercial\": \"GOLDMAN SACHS DO BRASIL CORRETORA DE TÍTULOS E VALORES MOBILIÁRIOS S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"99990202000195\",\n            \"nome_comercial\": \"GRAND PRIX\",\n            \"municipio\": \"BELÉM\"\n        },\n        {\n            \"cnpj\": \"65913436000117\",\n            \"nome_comercial\": \"GUIDE INVESTIMENTOS\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"24074692000180\",\n            \"nome_comercial\": \"GUITTA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"15203219000165\",\n            \"nome_comercial\": \"GULFINVEST - DIST\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"33894445000111\",\n            \"nome_comercial\": \"BES SECURITIES DO BRASIL S.A. CCVM\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"18371583000122\",\n            \"nome_comercial\": \"HERCULES\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"72153281000123\",\n            \"nome_comercial\": \"HEXAGON\",\n            \"municipio\": \"FORTALEZA\"\n        },\n        {\n            \"cnpj\": \"17312083000157\",\n            \"nome_comercial\": \"HH PICCHIONI\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"81681009000107\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"76614346000141\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"34974170000199\",\n            \"nome_comercial\": \"--\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"76528660000101\",\n            \"nome_comercial\": \"HSBC CCVM\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"27842177000191\",\n            \"nome_comercial\": \"IB CORRETORA DE C-MBIO, T-TULOS E VALORES MOBILI-RIOS LTDA.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"09105360000122\",\n            \"nome_comercial\": \"ICAP DO BRASIL DISTRIBUIDORA DE TÍTULOS E VALORES MOBILIÁRIOS LTDA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"16695922000109\",\n            \"nome_comercial\": \"-----\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"31749596000150\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"42352328000117\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"61757423000145\",\n            \"nome_comercial\": \"INCENTIVO PARTICIPAÇÕES S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61531554000100\",\n            \"nome_comercial\": \"INDUSCRED\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"03014007000150\",\n            \"nome_comercial\": \"INFINITY CCTVM\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"04848115000191\",\n            \"nome_comercial\": \"ING CORRETORA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"92922525000100\",\n            \"nome_comercial\": \"INTEGRAL S.A.\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"78942398000172\",\n            \"nome_comercial\": \"RENDICAP\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"21592209000161\",\n            \"nome_comercial\": \"INTERBANK\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"00169331000150\",\n            \"nome_comercial\": \"FINABANK\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"04020986000112\",\n            \"nome_comercial\": \"INTERFLOAT HZ CCTVM LTDA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"29621281000181\",\n            \"nome_comercial\": \"INTERUNION\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"67477430000170\",\n            \"nome_comercial\": \"INTERVAL\",\n            \"municipio\": \"SANTOS\"\n        },\n        {\n            \"cnpj\": \"09493503000110\",\n            \"nome_comercial\": \"INVESTNORTE\",\n            \"municipio\": \"RECIFE\"\n        },\n        {\n            \"cnpj\": \"39065123000146\",\n            \"nome_comercial\": \"INVESTOR - CORRETORA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"12319901000120\",\n            \"nome_comercial\": \"INVISTA\",\n            \"municipio\": \"SALVADOR\"\n        },\n        {\n            \"cnpj\": \"59312306000126\",\n            \"nome_comercial\": \"IRMAOS GUIMARAES\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"76608025000134\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"62051263000187\",\n            \"nome_comercial\": \"ISOLDI\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61194353000164\",\n            \"nome_comercial\": \"ITAU CORRETORA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"33311713000125\",\n            \"nome_comercial\": \"ITAÚ DTVM S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"00952792000102\",\n            \"nome_comercial\": \"BBA CTVM S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"04217605000190\",\n            \"nome_comercial\": \"BANKBOSTON CCTVM S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"92986355000110\",\n            \"nome_comercial\": \"ITAUVEST S.A. CORRETORA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"07262108000100\",\n            \"nome_comercial\": \"J. G. OLIVEIRA\",\n            \"municipio\": \"FORTALEZA\"\n        },\n        {\n            \"cnpj\": \"32588139000194\",\n            \"nome_comercial\": \"J. P. MORGAN CCVM S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"07256659000152\",\n            \"nome_comercial\": \"J. SAFRA CORRETORA DE VALORES E CÂMBIO LTDA.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"14746234000197\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"SALVADOR\"\n        },\n        {\n            \"cnpj\": \"58202607000134\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"SANTOS\"\n        },\n        {\n            \"cnpj\": \"54580337000144\",\n            \"nome_comercial\": \"JPM - CORRETORA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61780391000107\",\n            \"nome_comercial\": \"LAVRA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"00581621000106\",\n            \"nome_comercial\": \"SURBANK\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"23581028000165\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"FORTALEZA\"\n        },\n        {\n            \"cnpj\": \"58160250000179\",\n            \"nome_comercial\": \"PATAGON CCVM S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61973863000130\",\n            \"nome_comercial\": \"ESCRITÓRIO LEROSA S/A CV\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"50579044000196\",\n            \"nome_comercial\": \"LEVYCAM\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"15219389000138\",\n            \"nome_comercial\": \"MACRO\",\n            \"municipio\": \"SALVADOR\"\n        },\n        {\n            \"cnpj\": \"36864992000142\",\n            \"nome_comercial\": \"MAF DTVM\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"12102869000126\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"SÃO LUÍS\"\n        },\n        {\n            \"cnpj\": \"04169736000149\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"MANAUS\"\n        },\n        {\n            \"cnpj\": \"84704451000108\",\n            \"nome_comercial\": \"--\",\n            \"municipio\": \"JOINVILLE\"\n        },\n        {\n            \"cnpj\": \"28317501000115\",\n            \"nome_comercial\": \"MARLIN\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"33918160000173\",\n            \"nome_comercial\": \"GRADUAL CORRETORA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"33968066000129\",\n            \"nome_comercial\": \"UM INVESTIMENTOS\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"92885631000153\",\n            \"nome_comercial\": \"DIFERENCIAL\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"87169629000148\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"33886862000112\",\n            \"nome_comercial\": \"MULTISTOCK S.A. C.C.V.\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"33886862000112\",\n            \"nome_comercial\": \"MULTISTOCK S.A. C.C.V.\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"04818886000136\",\n            \"nome_comercial\": \"MAXIMA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"92952357000198\",\n            \"nome_comercial\": \"MBM P ALEGRENSE\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"68738053000148\",\n            \"nome_comercial\": \"MEINBERG - CORRETORA\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"16683062000185\",\n            \"nome_comercial\": \"MERCANTIL DO BRASIL CORRETORA\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"00787296000132\",\n            \"nome_comercial\": \"MERCOBANK\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"02670590000195\",\n            \"nome_comercial\": \"--\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"35602606000181\",\n            \"nome_comercial\": \"MIDAS\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"17830340000142\",\n            \"nome_comercial\": \"MILBANCO\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"07147382000120\",\n            \"nome_comercial\": \"GAMEX MILLENNIUM CCVM S/A\",\n            \"municipio\": \"FORTALEZA\"\n        },\n        {\n            \"cnpj\": \"12392983000138\",\n            \"nome_comercial\": \"-----\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"62977723000100\",\n            \"nome_comercial\": \"MISASI\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"89552277000130\",\n            \"nome_comercial\": \"MONTAB\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"50489148000100\",\n            \"nome_comercial\": \"MONTE BRAVO CORRETORA DE TITULOS E VALORES MOBILIARIOS S/A\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"04323351000194\",\n            \"nome_comercial\": \"MORGAN STANLEY DEAN WITTER CTVM S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"00419291000157\",\n            \"nome_comercial\": \"MULTICRED CORRETORA\",\n            \"municipio\": \"BRASÍLIA\"\n        },\n        {\n            \"cnpj\": \"05351887000186\",\n            \"nome_comercial\": \"MULTIPLA CCTVM LTDA\",\n            \"municipio\": \"FORTALEZA\"\n        },\n        {\n            \"cnpj\": \"33791781000139\",\n            \"nome_comercial\": \"MULTIPLIC CVM S/A\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"25674235000190\",\n            \"nome_comercial\": \"MUNDINVEST CORRETORA DE VALORES\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"52904364000108\",\n            \"nome_comercial\": \"NECTON INVESTIMENTOS\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61723847000199\",\n            \"nome_comercial\": \"MAGLIANO\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"33764440000174\",\n            \"nome_comercial\": \"NEYCARVALHO\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"07365471000142\",\n            \"nome_comercial\": \"NORSUL\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"04257795000179\",\n            \"nome_comercial\": \"NOVA FUTURA INVESTIMENTOS\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"62170824000167\",\n            \"nome_comercial\": \"NOVAÇÃO ADMINISTRAÇÃO E PARTICIPAÇÕES LTDA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"43060029000171\",\n            \"nome_comercial\": \"NOVINVEST\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61802955000157\",\n            \"nome_comercial\": \"NOVO NORTE\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"62169875000179\",\n            \"nome_comercial\": \"Nu Invest\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"76633486000167\",\n            \"nome_comercial\": \"OLIVEIRA FRANCO\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"76616978000144\",\n            \"nome_comercial\": \"--\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"35902295000176\",\n            \"nome_comercial\": \"OPEN\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"08933202000106\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"RECIFE\"\n        },\n        {\n            \"cnpj\": \"00087530000119\",\n            \"nome_comercial\": \"ORBIVAL CCVM\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"02999677000100\",\n            \"nome_comercial\": \"ORYX - CORRETORA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"10984417000190\",\n            \"nome_comercial\": \"OTBASTO\",\n            \"municipio\": \"RECIFE\"\n        },\n        {\n            \"cnpj\": \"69577948000100\",\n            \"nome_comercial\": \"PACTO\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"46403683000129\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"76627819000145\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"48678247000198\",\n            \"nome_comercial\": \"PAVARINI\",\n            \"municipio\": \"SANTOS\"\n        },\n        {\n            \"cnpj\": \"06979363000105\",\n            \"nome_comercial\": \"--\",\n            \"municipio\": \"FORTALEZA\"\n        },\n        {\n            \"cnpj\": \"58242736000156\",\n            \"nome_comercial\": \"PENFIELD\",\n            \"municipio\": \"SANTOS\"\n        },\n        {\n            \"cnpj\": \"61243895000180\",\n            \"nome_comercial\": \"PLANIBANK\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"00806535000154\",\n            \"nome_comercial\": \"PLANNER CORRETORA DE VALORES S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"24895815000144\",\n            \"nome_comercial\": \"PLUS\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"52915386000165\",\n            \"nome_comercial\": \"POLINVEST\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"54099312000123\",\n            \"nome_comercial\": \"PONTUAL\",\n            \"municipio\": \"FORTALEZA\"\n        },\n        {\n            \"cnpj\": \"40161713000151\",\n            \"nome_comercial\": \"POSITIVA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"33387333000174\",\n            \"nome_comercial\": \"POTENZA\",\n            \"municipio\": \"BARUERI\"\n        },\n        {\n            \"cnpj\": \"92886340000180\",\n            \"nome_comercial\": \"PRECISA\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"40498305000190\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"SALVADOR\"\n        },\n        {\n            \"cnpj\": \"06917793000194\",\n            \"nome_comercial\": \"PREVIBANK\",\n            \"municipio\": \"FORTALEZA\"\n        },\n        {\n            \"cnpj\": \"36092302000184\",\n            \"nome_comercial\": \"PRIME SA CCV\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"73169997000181\",\n            \"nome_comercial\": \"PRINCIPAL\",\n            \"municipio\": \"SANTOS\"\n        },\n        {\n            \"cnpj\": \"03500902000185\",\n            \"nome_comercial\": \"PROMEGA S.A. CV\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"72741531000146\",\n            \"nome_comercial\": \"BONUS-BANVAL\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"02917022000146\",\n            \"nome_comercial\": \"QUANTIA CCTVM LTDA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"68726611000155\",\n            \"nome_comercial\": \"QUANTIA DTVM LTDA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"01632132000107\",\n            \"nome_comercial\": \"RADIAL\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"89960090000176\",\n            \"nome_comercial\": \"RB INVESTIMENTOS DISTRIBUIDORA DE TÍTULOS E VALORES MOBILIÁRIOS LTDA.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"27334341000150\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"BRASÍLIA\"\n        },\n        {\n            \"cnpj\": \"05437017000124\",\n            \"nome_comercial\": \"RENDIMENTO DTVM\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"30032635000131\",\n            \"nome_comercial\": \"ARBI\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"13434335000160\",\n            \"nome_comercial\": \"RICO CORRETORA DE TÍTULOS E VALORES MOBILIÁRIOS S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"90021635000168\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"42066258000130\",\n            \"nome_comercial\": \"RJI INVESTIMENTOS\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"61787776000198\",\n            \"nome_comercial\": \"CORRETORA SOUZA BARROS CT SA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"04809885000125\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"BELÉM\"\n        },\n        {\n            \"cnpj\": \"17694787000131\",\n            \"nome_comercial\": \"RURAL\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"45056579000142\",\n            \"nome_comercial\": \"SAFIC\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"60783503000102\",\n            \"nome_comercial\": \"SAFRA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61954160000164\",\n            \"nome_comercial\": \"SANKT GALLEN INVESTIMENTOS LTDA\",\n            \"municipio\": \"\"\n        },\n        {\n            \"cnpj\": \"49474463000184\",\n            \"nome_comercial\": \"SANTANDER BRASIL-COR\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"51014223000149\",\n            \"nome_comercial\": \"SANTANDER CORRETORA DE CAMBIO E VALORES MOBILIARIOS S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61784732000104\",\n            \"nome_comercial\": \"SANTANDER NOROESTE S/A CCTVM\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61510574000102\",\n            \"nome_comercial\": \"BANESPA S.A. CCT\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"42154583000155\",\n            \"nome_comercial\": \"SANTANDER S.A. CCVM\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"61733515000195\",\n            \"nome_comercial\": \"ABN AMRO SECURITIES CORRETORA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61658811000179\",\n            \"nome_comercial\": \"SANTOS - CORRETORA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61822052000138\",\n            \"nome_comercial\": \"SAO PAULO\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"62332077000116\",\n            \"nome_comercial\": \"SB\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"39696805000157\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"58228446000158\",\n            \"nome_comercial\": \"SELLER\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"17352220000187\",\n            \"nome_comercial\": \"SENSO CORRETORA DE CÂMBIO E VALORES MOBILIÁRIOS S.A\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"08026957000119\",\n            \"nome_comercial\": \"SERVECRED\",\n            \"municipio\": \"FORTALEZA\"\n        },\n        {\n            \"cnpj\": \"10974921000109\",\n            \"nome_comercial\": \"SEVAG\",\n            \"municipio\": \"RECIFE\"\n        },\n        {\n            \"cnpj\": \"03429275000133\",\n            \"nome_comercial\": \"SHARE - EKOBANK\",\n            \"municipio\": \"RECIFE\"\n        },\n        {\n            \"cnpj\": \"61934725000141\",\n            \"nome_comercial\": \"SILEX\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"68757681000170\",\n            \"nome_comercial\": \"SIMPAUL CCVM\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"33747221000187\",\n            \"nome_comercial\": \"SINAL\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"62285390000140\",\n            \"nome_comercial\": \"SINGULARE\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"74419714000175\",\n            \"nome_comercial\": \"SINTESE ASSET MANAGEMENT LTDA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"50582527000140\",\n            \"nome_comercial\": \"SISTEMA\",\n            \"municipio\": \"SANTOS\"\n        },\n        {\n            \"cnpj\": \"17315359000150\",\n            \"nome_comercial\": \"SITA\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"50657675000186\",\n            \"nome_comercial\": \"SLW\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61668117000132\",\n            \"nome_comercial\": \"SOCIETE GENERALE S.A. CCTVM\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"62353172000104\",\n            \"nome_comercial\": \"SOL NASCENTE\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"96477906000170\",\n            \"nome_comercial\": \"SOLIDEZ\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61739629000142\",\n            \"nome_comercial\": \"SPINELLI\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"00355236000140\",\n            \"nome_comercial\": \"SPIRIT\",\n            \"municipio\": \"CURITIBA\"\n        },\n        {\n            \"cnpj\": \"11513306000168\",\n            \"nome_comercial\": \"STARINVEST CORRETORA\",\n            \"municipio\": \"RECIFE\"\n        },\n        {\n            \"cnpj\": \"46778320000178\",\n            \"nome_comercial\": \"STATUS\",\n            \"municipio\": \"SANTOS\"\n        },\n        {\n            \"cnpj\": \"61841326000136\",\n            \"nome_comercial\": \"SUPLICY CCT LTDA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"92904960000102\",\n            \"nome_comercial\": \"SUPORTE\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"08030140000114\",\n            \"nome_comercial\": \"SUPRA CVM LTDA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"49951411000151\",\n            \"nome_comercial\": \"TAKEOVER CCVM\",\n            \"municipio\": \"SANTOS\"\n        },\n        {\n            \"cnpj\": \"61729133000198\",\n            \"nome_comercial\": \"TALARICO\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"33638727000158\",\n            \"nome_comercial\": \"TAMOYO\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"58506221000116\",\n            \"nome_comercial\": \"TENDENCIA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"88720586000100\",\n            \"nome_comercial\": \"TERRAMAR\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"73004715000196\",\n            \"nome_comercial\": \"THECA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"35028018000186\",\n            \"nome_comercial\": \"TLACH\",\n            \"municipio\": \"SANTO ANDRÉ\"\n        },\n        {\n            \"cnpj\": \"29162769000198\",\n            \"nome_comercial\": \"TORO CORRETORA DE T-TULOS E VALORES MOBILI-RIOS LTDA\",\n            \"municipio\": \"BELO HORIZONTE\"\n        },\n        {\n            \"cnpj\": \"61777819000154\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"57582264000118\",\n            \"nome_comercial\": \"TORRE CCTVM S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"29384013000193\",\n            \"nome_comercial\": \"TOTAL CCVM\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"74451022000104\",\n            \"nome_comercial\": \"TOV CCTVM LTDA\",\n            \"municipio\": \"POÇOS DE CALDAS\"\n        },\n        {\n            \"cnpj\": \"27245141000120\",\n            \"nome_comercial\": \"TRIPLIK\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"32461816000109\",\n            \"nome_comercial\": \"\",\n            \"municipio\": \"VITÓRIA\"\n        },\n        {\n            \"cnpj\": \"61747085000160\",\n            \"nome_comercial\": \"CONVENCAO\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"02819125000173\",\n            \"nome_comercial\": \"UBS BRASIL CORRETORA DE CAMBIO, TITULOS E VALORES MOBILIARIOS S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"35754969000132\",\n            \"nome_comercial\": \"UBS WARBURG CCVM S.A.\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"89560460000188\",\n            \"nome_comercial\": \"INVESTSHOP CVMC S.A.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"33764366000196\",\n            \"nome_comercial\": \"UNIBANCO\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"06971154000107\",\n            \"nome_comercial\": \"UNICA\",\n            \"municipio\": \"FORTALEZA\"\n        },\n        {\n            \"cnpj\": \"28156214000170\",\n            \"nome_comercial\": \"UNILETRA\",\n            \"municipio\": \"VITÓRIA\"\n        },\n        {\n            \"cnpj\": \"47675871000179\",\n            \"nome_comercial\": \"SANTISTA\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"62065578000183\",\n            \"nome_comercial\": \"VALOR CCTVM LTDA.\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"60866951000170\",\n            \"nome_comercial\": \"VAZ GUIMARAES\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"36149557000136\",\n            \"nome_comercial\": \"VEGA SA CCVM\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"36159085000100\",\n            \"nome_comercial\": \"VETOR - CORRETORA\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        },\n        {\n            \"cnpj\": \"01170892000131\",\n            \"nome_comercial\": \"VOTORANTIM\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"61769790000169\",\n            \"nome_comercial\": \"WALPIRES S/A CCTVM\",\n            \"municipio\": \"SÃO PAULO\"\n        },\n        {\n            \"cnpj\": \"92875780000131\",\n            \"nome_comercial\": \"WARREN CORRETORA\",\n            \"municipio\": \"PORTO ALEGRE\"\n        },\n        {\n            \"cnpj\": \"24543688000114\",\n            \"nome_comercial\": \"PERFIL\",\n            \"municipio\": \"RECIFE\"\n        },\n        {\n            \"cnpj\": \"02332886000104\",\n            \"nome_comercial\": \"XP INVESTIMENTOS\",\n            \"municipio\": \"RIO DE JANEIRO\"\n        }\n    ]\n];\n\n\nnode.warn(brokers[0][0]);\n\nmsg.payload = brokers[0].map(broker => {\n    return {\n        nome_comercial: broker.nome_comercial,\n        municipio: broker.municipio,\n        cnpj: broker.cnpj\n    };\n});\n\nconst itemsPerPage = 10;\nconst page = parseInt(msg.req.query.page) || 1;\n\nconst startIndex = (page - 1) * itemsPerPage;\nconst endIndex = startIndex + itemsPerPage;\n\nconst paginatedBrokers = msg.payload.slice(startIndex, endIndex);\n\n\nlet htmlOutput = `\n    <div style=\"text-align: center; margin-bottom: 20px;\">\n        <h2>Opções Disponíveis</h2>\n    </div>\n    <div style=\"text-align: center;\">\n        ${paginatedBrokers.map(broker => `\n            <div style=\"margin-bottom: 10px;\">\n                <strong>${broker.nome_comercial}</strong> - ${broker.municipio} / ${broker.cnpj}\n            </div>\n        `).join('')}\n    </div>\n    <div style=\"text-align: center; margin-top: 20px;\">\n        <button onclick=\"window.location.href='?page=${page - 1}'\" ${page <= 1 ? 'disabled' : ''}>Anterior</button>\n        <button onclick=\"window.location.href='?page=${page + 1}'\" ${paginatedBrokers.length < itemsPerPage ? 'disabled' : ''}>Próxima</button>\n    </div>\n`;\n\nmsg.payload = htmlOutput;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "0e22e302035e86ac"
            ]
        ]
    },
    {
        "id": "0e22e302035e86ac",
        "type": "http response",
        "z": "e42e5f1fc0303f40",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "9e8ba324ccb06771",
        "type": "ui_template",
        "z": "b863e246b1c29c2d",
        "group": "3b02634d743323dd",
        "name": "",
        "order": 0,
        "width": "20",
        "height": "13",
        "format": "<!DOCTYPE html>\n<html lang=\"pt-br\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Consulta de CEP</title>\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css\">\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #f8f9fa;\n            padding: 20px;\n        }\n        .input-container {\n            margin-bottom: 10px;\n            display: flex;\n            align-items: center;\n        }\n        input {\n            padding: 10px;\n            margin-right: 10px;\n            border: 1px solid #ccc;\n            border-radius: 4px;\n            width: 200px;\n            box-sizing: border-box;\n        }\n        button {\n            padding: 10px 15px;\n            background-color: #28a745;\n            color: white;\n            border: none;\n            border-radius: 4px;\n            cursor: pointer;\n            transition: background-color 0.3s ease;\n        }\n        button:hover {\n            background-color: #218838;\n        }\n        #result {\n            margin-top: 20px;\n            border: 1px solid #ddd;\n            padding: 10px;\n            border-radius: 5px;\n            display: none;\n            background-color: #fff;\n        }\n\n        .loading {\n            color: #6c757d;\n        }\n        .error-message {\n            color: #dc3545;\n            font-weight: bold;\n        }\n        .icon {\n            font-size: 1.2em;\n            margin-right: 5px;\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"input-container\">\n        <i class=\"fas fa-search icon\"></i>\n        <label for=\"zipcode\">Digite o CEP:</label>\n        <input type=\"text\" id=\"zipcode\" placeholder=\"Ex: 89010025\">\n        <button onclick=\"getZipCode()\"><i class=\"fas fa-paper-plane\"></i> Buscar</button>\n    </div>\n\n    <div id=\"result\"></div>\n\n    <script>\n        function getZipCode() {\n            var zipcode = document.getElementById(\"zipcode\").value;\n            var resultDiv = document.getElementById(\"result\");\n            resultDiv.innerHTML = \"\";\n            resultDiv.style.display = \"none\";\n            if (!/^\\d{8}$/.test(zipcode)) {\n                resultDiv.innerHTML = \"<span class='error-message'>Por favor, insira um CEP válido!</span>\";\n                resultDiv.style.display = \"block\";\n                return;\n            }\n            resultDiv.innerHTML = \"<span class='loading'>Buscando informações...</span>\";\n            resultDiv.style.display = \"block\";\n            fetch('/zipcode/' + zipcode)\n                .then(response => {\n                    if (!response.ok) {\n                        throw new Error('Erro ao buscar os dados fornecidos.');\n                    }\n                    return response.json();\n                })\n                .then(data => {\n                    resultDiv.innerHTML = \"\";\n                    if (data && data.cep) {\n                        resultDiv.innerHTML += \"<strong>CEP:</strong> \" + (data.cep || 'N/A') + \"<br>\";\n                        resultDiv.innerHTML += \"<strong>Logradouro:</strong> \" + (data.street || 'N/A') + \"<br>\";\n                        resultDiv.innerHTML += \"<strong>Bairro:</strong> \" + (data.neighborhood || 'N/A') + \"<br>\";\n                        resultDiv.innerHTML += \"<strong>Cidade:</strong> \" + (data.city || 'N/A') + \"<br>\";\n                        resultDiv.innerHTML += \"<strong>Estado:</strong> \" + (data.state || 'N/A') + \"<br>\";\n                    } else {\n                        resultDiv.innerHTML = \"<span class='error-message'>Nenhum resultado foi encontrado.</span>\";\n                    }\n                })\n                .catch(error => {\n                    resultDiv.innerHTML = \"<span class='error-message'>Erro ao buscar os dados fornecidos. Tente novamente mais tarde.</span>\";\n                });\n        }\n    </script>\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ebc04a029d1ba367",
        "type": "http in",
        "z": "b863e246b1c29c2d",
        "name": "",
        "url": "/zipcode/:zipcode",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "f3aa763d69e10102"
            ]
        ]
    },
    {
        "id": "f3aa763d69e10102",
        "type": "http request",
        "z": "b863e246b1c29c2d",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://brasilapi.com.br/api/cep/v2/{{{req.params.zipcode}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 380,
        "wires": [
            [
                "41e8e14e23246c88"
            ]
        ]
    },
    {
        "id": "41e8e14e23246c88",
        "type": "http response",
        "z": "b863e246b1c29c2d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 360,
        "wires": []
    }
]